<!DOCTYPE html>

<html>

	<head>
    <meta name="Author" content="nekonenene">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="top.css">

    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">


    <title>Hello World</title>

	</head>

	<body>
    <div id="site-box">
      <div id="site-main">
        <h1>Hello World!!! </h1>
        <p>
          JavaScriptの世界にようこそ
        </p>

				<pre id="miku">

				</pre>

				<script type="text/javascript" src="b00+input.js" charset="utf-8"></script>

        <h2>入力欄</h2>
        <p>
					<form id="inputY" accept-charset="utf-8" style="margin:20px 15px;">
						<textarea id="inputArea" placeholder="ここに入力してね" cols="60"  rows="8"></textarea><br>
						<input type="button" id="doItButton" name="button" value="実行" style="margin:3px 0;">
					</form>
        </p>

        <h2>2: </h2>
        <p id="output">
					loading...2
        </p>

      </div>
    </div>
    
  </body>

</html>
